html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1, h2, h3, h4, p {   margin-top: 0;   margin-bottom: 0; }  
ul, ol {   margin-top: 0;   margin-bottom: 0;   padding-left: 0; } 



  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

a:hover,
a:focus {
    cursor: pointer;
}

button:hover,
button:focus {
    cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

  .search-form__button:hover {
    background: #c3c2c2ce;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 2em;
  }
  
  .photo-card {
    flex-flow: column;
    flex-wrap: wrap;
    margin-right: 20px;
  }
  

  .photo__link {
    display: block;
    object-fit: cover;
    width: 350px;
    height: 250px;
  }
  
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 350px;
    font-size: 14px;
    margin-bottom:20px;
    padding: 10px 0;
    background-color: lightblue;
    border-bottom: 1px solid #c3c2c2;
    border-left: 1px solid #c3c2c2;
    border-right: 1px solid #c3c2c2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 12px;
  }
  
  .info-item__api {
    padding-top: 5px;
  }
  
  .load-more {
    display: flex;
    margin: 0px auto 20px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    color: #fff;
    background-color: #4056b4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }

  .info-icon {
    display: block;
    width: 15px;
    height: 15px;
  }

  .is-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  #up {
    position: fixed;
    bottom: 150px;
    right: 70px;
    font-size: 40px;
    z-index: 9999;
    color: lightblue;
  }

  .isShown {
    opacity: 1;
    transition: 0.3 ease;

    &_hide {
      opacity: 0;
    }
  }